{% extends 'base.html' %}

{% block title %}{{ title }} - EduVerse{% endblock %}

{% block content %}
<h1>{{ title }}</h1>

<form method="post" enctype="multipart/form-data">
    {% csrf_token %}
    
    <div>
        <label for="id_title">Course Title:</label><br>
        {{ form.title }}
        {% if form.title.errors %}
            <div style="color: red;">{{ form.title.errors }}</div>
        {% endif %}
    </div><br>
    
    <div>
        <label for="id_description">Description:</label><br>
        {{ form.description }}
        {% if form.description.errors %}
            <div style="color: red;">{{ form.description.errors }}</div>
        {% endif %}
    </div><br>
    
    <div>
        <label for="id_thumbnail">Thumbnail Image:</label><br>
        {{ form.thumbnail }}
        {% if form.thumbnail.errors %}
            <div style="color: red;">{{ form.thumbnail.errors }}</div>
        {% endif %}
        {% if course.thumbnail %}
            <br>Current: <img src="{{ course.thumbnail.url }}" alt="Current thumbnail" style="width: 100px; height: 75px;">
        {% endif %}
    </div><br>
    
    <div>
        <label for="id_price">Price (BDT.):</label><br>
        {{ form.price }}
        {% if form.price.errors %}
            <div style="color: red;">{{ form.price.errors }}</div>
        {% endif %}
    </div><br>
    
    <button type="submit">
        {% if course %}Update Course{% else %}Create Course{% endif %}
    </button>
    
    <a href="{% if course %}{% url 'courses:course_detail' course.pk %}{% else %}{% url 'courses:course_list' %}{% endif %}">Cancel</a>
</form>
{% endblock %}