<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Eduverse</title>
</head>
<body>
   <nav>
       <a href = "{% url 'home' %}"> Eduverse</a>
       <ul>
           {% if user.is_authenticated %}
           <li style="display: flex; align-items: center;">
    <img src="{{ user.profile.image.url }}" alt="Avatar" style="width: 30px; height: 30px; border-radius: 50%; margin-right: 8px; object-fit: cover;">
    <a href="{% url 'profile' %}">{{ user.username }}</a>
</li>
           <li>
               <form action="{% url 'logout' %}" method="post" style="display:inline;">
                   {% csrf_token %}
                   <button type="submit">Logout</button>
               </form>
           </li>
           {% else %}
           <li><a href ="{% url 'login' %}">Login</a></li>
           <li><a href = "{% url 'signup' %}">Sign Up</a></li>
           {% endif %}
       </ul>
   </nav>

<main>
    {% block content %}
    {% endblock %}
</main>

</body>
</html>