{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
    <h2>Checkout Summary</h2>
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Course: {{ course.title }}</h5>
            <h4>Total Bill: BDT. {{ course.price }}</h4>
            <hr>
            <a href="{% url 'payments:initiate_payment' course.pk %}" class="btn btn-success">Pay with SSLCommerz</a>
            <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
        </div>
    </div>
</div>
{% endblock content %}